/*浏览器初始化*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; } 

.box{
	width: 252px;
	height: 304px;
	/*border:1px solid black;*/
	margin:100px 0px;
	overflow: hidden;
	position: relative;
}
.box1{
	width: 250px;
	height: 50px;
	background: yellow;
	position: absolute;
	top: 0;
	left: -200px;
	z-index: 2;
	border:1px solid black;
	border-radius: 5px;
}
.box2{
	width: 250px;
	height: 250px;
	background: pink;
	position: relative;
	top: -200px;
	left: 0px;
	display: none;
	border-radius: 5px;
}
.box2 span{
	width: 20px;
	height: 20px;
	display: block;
	line-height: 15px;
	text-align: center;
	font-weight: bold;
	font-size:20px;
	border:1px solid black;
	border-radius: 20px;
	position: relative;
	left: 220px;
	top:220px;
	cursor: pointer;
}