/*ä¯ÀÀÆ÷³õÊ¼»¯*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
body{
	/*background:url(../imgg/bei2.png);*/
}
.box{
	width: 460px;
	height: 80px;
	margin:10px 50px;
	padding: 20px 40px;
	border:1px solid #ccc;
	font-size: 30px;
	/*line-height: 100px;*/
	font-weight: bold;
}
img{
	width: 60px;
	height: 70px;
}
.text{
	width: 540px;
	height: 50px;
	margin-top: 60px;
	margin-left: 50px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}